h1 {
  font-family: Lato;
}
li{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
button{
  background-color: black;
  color: aquamarine;
  font-size: small;
  font-weight: bolder;
}